/* reordering_list.html */
.card-style{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 20px;
}